.highlight {
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  padding-top: 30px;
}
.highlight figcaption {
  margin-top: -25px;
  position: absolute;
  display: block !important;
  background: #21252b;
  padding-left: 20px;
  color: #fff;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.75rem;
  font-weight: bold;
}
